<h3>Profil kezelése</h3>
<hr>
<div id="liveAlertPlaceholder"></div>

<div class="row">
    
    <div class="col-12 col-lg-6">
      <h3 class="mb-3">Alapadatok</h3>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nameField" placeholder="">
            <label for="nameField">Név:</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailField" placeholder="">
            <label for="emailField">Email cím</label>
          </div>

          <button class="btn btn-primary mb-3 mt-2" id="modDataBtn" onclick="updateProfile()">Módosítás</button>
    </div>
    <div class="col-12 col-lg-6">
      <h3 class="mb-3">Jelszómódosítás</h3>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="oldPasswdField" placeholder="">
            <label for="oldPasswdField">Jelenlegi jelszó</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="newPasswdField" placeholder="">
            <label for="newPasswdField">Új jelszó</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="newPasswdFieldAgain" placeholder="">
            <label for="newPasswdFieldAgain">Új jelszó megerősítése</label>
          </div>
          <button class="btn btn-primary mb-3 mt-2" id="modPassBtn" onclick="updatePassword()">Módosítás</button>
    </div>
</div>