<div class="col-12 col-lg-6 offset-lg-3">


<h3>Regisztráció</h3>
<hr>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="nameField" placeholder="">
    <label for="nameField">Név</label>
  </div>

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="emailField" placeholder="">
    <label for="emailField">Email cím</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="passwdField" placeholder="">
    <label for="passwdField">Jelszó</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirmpasswdField" placeholder="">
    <label for="confirmpasswdField">Jelszó megerősítése</label>
  </div>


  <div id="liveAlertPlaceholder"></div>
  <button class="btn btn-primary" id="regBtn" onclick="registration()">Regisztráció</button>
</div>